:root {
  --inter-primary: #360023;
  --inter-secondary: #ec6d64;
  --inter-tertiary: #ef8277;
  --ds-bg-1:#BDBDBD;
  --ds-txt-1:#303133;
  --ds-txt-2:#757575;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
}
*,*::before,*::after{
  box-sizing: border-box;
}