:root {
  --inter-primary: #360023;
  --inter-secondary: #ec6d64;
  --inter-tertiary: #ef8277;
  --ds-bg-1: #009688;
  --ds-bg-2: #263238;
  --ds-bg-3: rgba(38, 50, 56, 0.5);
  --ds-bg-4: #313131;
  --ds-bg-5: #181f22;
  --ds-txt-1: #f1f1f1;
  --ds-txt-2: #a1a1a1;
  --ds-txt-3: #4fc3f7;
  --ds-txt-4: #181f22;
  --ds-txt-5: #585151;
}
body{
  overflow-y: auto!important;
}
/*iop styles*/
.iop-text-center {
  text-align: center;
}
.iop-chips-form-container {
  padding: 0px;
}
.iop-card {
  background-color: var(--ds-bg-2);
  padding: 16px 22px 20px 16px;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.iop-form-container {
  padding: 10px 26px 10px 16px;
}
@media (max-width: 600px) {
  .iop-card {
    padding: 6px;
  }
}
.iop-page-container {
  padding: 16px;
}
.iop-spinner-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 50px 0;
}
.iop-right-spacer {
  padding-right: 10px;
}

.iop-left-spacer {
  padding-left: 10px;
}
.iop-no-resuts{
  font-weight: 300;
  color: #986161;
  font-style: italic;
}
@media (max-width: 800px) {
  .iop-right-spacer {
    padding: 5px;
  }
  .iop-left-spacer {
    padding: 5px;
  }
}
/* iop tables vuetify */
body .application .theme--dark.v-table,
.theme--dark .v-table {
  background-color: var(--ds-bg-2) !important;
}

body .application .theme--dark.v-datatable .v-datatable__actions,
.theme--dark .v-datatable .v-datatable__actions {
  background-color: var(--ds-bg-2) !important;
}
/* el fondo delos tabs */
body .theme--dark .v-tabs__bar {
  background-color: var(--ds-bg-5);
}
/* fin iop tables vuetify*/
/*tabs iop*/
.iop-main-tabs .v-tabs__item {
  background-color: var(--ds-bg-5);
  color: var(--ds-txt-2);
  font-weight: 400;
}

.iop-main-tabs .v-tabs__item > .iop-tab-title > i {
  color: var(--ds-txt-2);
}

.iop-main-tabs .v-tabs__item--active {
  background-color: var(--ds-bg-5);
  color: white;
}

.iop-main-tabs .v-tabs__item--active .iop-tab-title > i {
  color: var(--ds-bg-1);
}

.iop-main-tabs .iop-tab-title {
  padding: 5px 20px;
  display: flex;
  align-items: center;
}
/*forms*/
.iop-form-title {
  font-size: 2rem;
  font-weight: 500;
  color: var(--ds-txt-2);
}
.iop-form-subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: var(--ds-txt-2);
  margin-left: 10px;
  margin-bottom: 30px;
}
/*fin tab styles*/
body .application.theme--dark {
  background-color: var(--ds-bg-5);
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100vh;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
*:focus {
  outline: 0px solid transparent;
}
/*INTEROPERABILIDAD PRO STYLES*/
.v-subheader {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.inter-links {
  color: var(--ds-txt-3);
  cursor: pointer;
  font-size: 0.9rem;
}
.inter-links:hover {
  text-decoration: underline;
}
.inter-subheader > * {
  display: block;
  line-height: 0.5rem;
  color: var(--ds-bg-1);
}
.inter-card-container {
  max-width: 1350px;
  margin: 30px auto;
}
.inter-instructions {
  font-weight: 300;
  margin: 1px 10px 25px 5px;
  color: var(--ds-txt-1);
}
.inter-container {
  padding: 5px
}
.json-container {
  padding: 16px;
  min-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  background-color: #181f22;
  color: var(--ds-txt-3);
}
.json-container > * > * > * {
  font-family: "roboto" !important;
}
body .primary--text {
  color: var(--ds-bg-1) !important;
}
td[data-metodo="POST"] {
  color: #ffc107;
  font-weight: 900 !important;
}
td[data-metodo="PATCH"],
td[data-metodo="REGISTRADO"] {
  color: #9575cd;
  font-weight: 900 !important;
}
td[data-metodo="GET"] {
  color: #00c853;
  font-weight: 900 !important;
}
td[data-metodo="DELETE"] {
  color: #f44336;
  font-weight: 900 !important;
}
td[data-metodo="Conectado"] {
  color: #00c853;
  font-weight: 900 !important;
}
td[data-metodo="NO conectado"],
[data-metodo="INACTIVO"] {
  color: #aeae9e;
  font-weight: 900 !important;
}

div[estado="REGISTRADO"]{
  color: #FFD600;
  font-weight: 700;
  font-size: .8rem;
}
div[estado="VERIFICADO"]{
  color: #03A9F4;
  font-weight: 700;
  font-size: .8rem;
}
div[estado="HABILITADO"]{
  color: #4CAF50;
  font-weight: 700;
  font-size: .8rem;
}
div[estado="INHABILIDADO"]{
  color: #f44336;
  font-weight: 700;
  font-size: .8rem;
}
/* Fin estilos para tablas */
.inter-mid-container {
  width: 950px;
  max-width: 100%;
  margin: 0 auto;
}
.inter-auto-scroll {
  max-height: calc(100vh - 400px);
  overflow-y: auto;
}
.inter-json .vjs__tree {
  font-family: "Courier New", Courier, monospace;
}
.inter-h2 {
  color: var(--inter-text-primary);
  text-align: center;
  font-size: 1.8rem;
}
.inter-p {
  color: var(--inter-text-secondary);
  text-align: center;
}
.my-auto-x-scroll {
  overflow-x: auto;
}
/* .my-step {
  width: 100%;
  padding: 0 16px 10px 16px;
  min-height: calc(100vh - 300px);
} */

/* Vuetify styles */

/* body .toolbar {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

body .menu__content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
 */
/* Nav-View styles - vuetify */
/*Stilos para el side bar list*/
/* AQUI ES DONDE TENEMOS QUE VER EL TEMA DE LA BARRA A LA IZUIQRDA DESCOLOCADA, ojo cambiando side-var-view por body funciona */
.side-var-view .list__tile {
  margin: 10px 0px;
  position: relative;
}
.list__tile--active .list__tile__title,
.list__tile__action {
  color: white !important;
  position: relative;
}
.list__tile--active::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--ds-bg-1) !important;
  right: 20px;
  top: 8px;
}
/*Fin stilos side bar list*/
body .snack__wrapper {
  background-color: var(--inter-primary);
}
.navigation-drawer {
  background-color: #212121 !important;
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.16);
}
.inter-buttons .btn {
  text-transform: initial;
  font-weight: normal;
  color: var(--inter-text-primary);
  font-size: 1.1rem;
}

body .create .stepper,
.stepper__header {
  box-shadow: none !important;
}

